@charset "utf-8";

.contact {
  display: block;

  font-size: 18px;

  text-align: center;

  margin-top: 10%;
  padding-bottom: 4%;
}

.snsImg{
  margin-top: 50%;
  width: 20px;
}

.push {
  font-size: 11px;
  text-align: center;
  font-weight: bold;

  color: black;
  background-color:black;
  border: solid 1px white;
  border-radius: 10%;

  margin: 0;
  margin-bottom: 5%;
}

.push:hover{
  color: white;
  background-color:white;
}

.samplePack{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  border: none;

  color: black;
  background-color: black;

  width: 3%;
}

.samplePack:hover{
  color: white;
  background-color: white;
}

@media(max-width:900px) {
  .contact {
    font-size: 100%;
    margin-top: 45%;
  }

  .snsImg{
    margin-top: 5%;
    width: 18px;
  }
}
