@charset "utf-8";

@font-face {
  font-family: 'user-font';
  src: url('IBMPlexSansKR-Regular.woff');
  format('woff');
}

html{
  -webkit-text-size-adjust: none;
}

body{
  font-family: 'user-font';
  background-color: black;
  color: rgb(202, 202, 202);
  margin: 0;
}

a {
  color: rgb(202, 202, 202);
  text-decoration: none;
}

li {
  color: rgb(202, 202, 202);
  list-style-type: none;
  float: left;
}

.mainImg {
  display: block;

  margin-left: auto;
  margin-right: auto;

  padding-bottom: 6%;
}

.indexLine{
  display: block;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 50%;

  border-top: 2px rgb(202, 202, 202) solid;
}

.divisonLine {
  /* border-top: 1px rgb(240, 240, 240) solid; */

  /* margin: 0;
  margin-left: 10%;
  margin-right: 10%; */

  /* padding-top: 1%; */
  /* padding: 0; */
}

.subTitle {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  /* text-align: center; */

  padding-bottom: 1.5%;
}

.contents {
  font-size: 14px;
  font-weight: normal;
  text-align: justify;

  line-height: 1.7;

  margin-left: 25%;
  margin-right: 25%;

  padding-bottom: 2%;
}

@media(max-width:900px) {
  .divisonLine {
    border-top: none;

    /* margin: 0;
    margin-left: 10%;
    margin-right: 10%; */

    padding-top: 0;
    padding-bottom: 1%;
  }

  .mainImg {
    display: block;

    margin-left: auto;
    margin-right: auto;

    padding-top: 10%;
    padding-bottom: 31.6%;
    width: 100%;
  }

  .subTitle {
    font-size: 12px;

    padding-bottom: 5%;
  }

  .contents{
    font-size: 12px;
    text-align: left;
    line-height: 1.5;

    margin-left: 10%;
    margin-right: 10%;

    margin-bottom: 0;
    padding-bottom: 0;
  }
}
