@charset "utf-8";

.footerList {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 2.5%;
}

.fList {
  padding-right: 3%;
  padding-bottom: 2%;
}

.iconImg{
  width:16px;
}

@media(max-width:900px) {
  .footerList {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 8%;
  }

  .fList {
    padding-right: 10%;
    padding-bottom: 3%;
  }

  .iconImg{
    width:14px;
  }
}
